<table class="table table-sm table-bordered table-hover">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Purchases?.Count() > 0)
        {
            @foreach (BookPurchase bp in Purchases)
            {
                <tr>
                    <td>@bp.Name</td>
                    <td>@bp.Zip</td>
                    <th>Title</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderShipped.InvokeAsync(bp.PurchaseId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in bp.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@bli.Book.Title</td>
                        <td>@bli.Quantity</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<BookPurchase> Purchases { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderShipped { get; set; }

}
